@page
@model DreamWedds.Client.AdminApp.Pages.IndexModel

@{
    ViewData["Title"] = "DreamWedds Meta Tags for Social Marketing";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Meta Tags</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTags[0].Name) |
                @Html.DisplayNameFor(model => model.MetaTags[0].Property)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.MetaTags[0].TagPrefix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTags[0].Content)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTags[0].PageName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MetaTags[0].PageTitle)
            </th>


        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MetaTags)
        {
            <tr>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name) <br>
                    @Html.DisplayFor(modelItem => item.Property)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TagPrefix)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Content)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PageTitle)
                </td>
            </tr>
        }
    </tbody>
</table>
