<div class="col-12 col-lg-4">
    <div class="card mb-3 mt-lg-0 mt-4">
        <div class="card-body p-3">
            <div class="row align-items-center mb-3">
                <div class="col-9">
                    <h5 class="mb-1 text-gradient text-primary">
                        <a href="javascript:;">Latest Blogs</a>
                    </h5>
                </div>
                <div class="col-3 text-end">
                    <div class="dropstart">
                        <a href="/Blogs" class="font-weight-600 text-sm text-info text-gradient">
                            <i class="fas fa-eye" aria-hidden="true"> View All</i>
                        </a>
                    </div>
                </div>
            </div>
            <ul class="list-group">
                @foreach (var item in Model.ViewData["Blogs"])
                {
                    <li class="list-group-item border-0 d-flex align-items-center px-0 mb-2">
                        <div class="avatar me-3">
                            <img src="@item.ImageUrl" alt="kal" class="border-radius-lg shadow">
                        </div>
                        <div class="d-flex align-items-start flex-column justify-content-center">
                            <a asp-page="/Blogs/Details" asp-route-title="@item.Title.ToLower().Replace(' ', '-')" class="mb-0 text-sm">@item.BlogName</a>
                            <p class="mb-0 text-xs">@item.AuthorName</p>
                        </div>
                        <a class="btn btn-link pe-3 ps-0 mb-0 ms-auto" href="javascript:;">@item.CreatedOn.ToString("dd-MMM-yy")</a>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>