@page
@model DreamWedds.Client.AdminApp.Pages.Faq.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Faq</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.Question)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.Question)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.Answer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.Answer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.Website)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.Website)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.IsMainQue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.IsMainQue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.ParentQuestionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.ParentQuestionId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.Sequence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.Sequence)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.LastModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.LastModifiedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Faq.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Faq.IsDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Faq.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
