@page
@model DreamWedds.Client.AdminApp.Pages.Blogs.Comments.DeleteModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>BlogComments</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.Comment)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.Comment)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.UserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.UserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.Image)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.IsHtml)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.IsHtml)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.IsApproved)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.IsApproved)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.Icon)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.Icon)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.Blog)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.Blog.BlogName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.CreatedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.CreatedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.CreatedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.LastModifiedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.LastModifiedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.LastModifiedOn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.LastModifiedOn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BlogComments.IsDeleted)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BlogComments.IsDeleted)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="BlogComments.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
