@page
@model DreamWedds.Client.AdminApp.Pages.Blogs.Comments.IndexModel

@{
    ViewData["Title"] = "Blogs List | Admin DreamWedds";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Blogs</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.BlogComments[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogComments[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogComments[0].IsHtml)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogComments[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogComments[0].IsApproved)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogComments[0].Icon)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogComments[0].Blog)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.BlogComments)
        {
            <tr>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comment)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsHtml)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsApproved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Icon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Blog.BlogName)
                </td>
            </tr>
        }
    </tbody>
</table>
