@page
@model DreamWedds.Client.AdminApp.Pages.Blogs.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Blog[0].SpecialNote)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Blog)
        {
            <tr>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                    <img src="@Url.Content(item.ImageUrl)" height="50px" alt="Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpecialNote)
                </td>

            </tr>
        }
    </tbody>
</table>
