@page
@model DreamWedds.Client.AdminApp.Pages.Templates.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TemplateMaster[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateMaster[0].TemplateUrl) <a href="Model.Templ"></a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateMaster[0].TemplateFolderPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateMaster[0].ThumbnailImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemplateMaster[0].Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TemplateMaster) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemplateFolderPath)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ThumbnailImageUrl)
                    <img src="@Url.Content(item.ThumbnailImageUrl)" height="50px" alt="Image" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
    
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
